body {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: white;
  width: 320px;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.display {
  background: #f3f3f3;
  padding: 18px;
  margin-bottom: 12px;
  text-align: right;
  height: 45px;
  font-size: 30px;
  border-radius: 6px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex: 1;
}

.operators {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background: white;
  padding: 18px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ddd;
}

.operator,
.equals {
  background: lightblue;
  color: #fff;
  font-weight: bold;
}

.operator:hover,
.equals:hover {
  background: blue;
  color: white;
}

.clear {
  background: crimson;
  color: #fff;
  font-weight: bold;
}

.clear:hover {
  background: darkred;
}
